/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* all pages */
h1,
h2,
h3,
ul,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2,
h3 {
  color: #212121;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text);
  background-color: #ffffff;
}

.hero,
footer {
  background: #2f303a;
  color: #ffffff;
}

button {
  outline: none;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

@media screen and (max-width: 479px) {
  .modal {
    max-width: 300px;
    padding: 34px 34px 30px 34px;
  }
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.modal__closed {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: black;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__closed:hover, .modal__closed:focus {
  fill: #2196f3;
}

.modal__closed .modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__lable {
  margin-bottom: 4px;
  display: block;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input,
.modal__comment {
  width: 100%;
  resize: none;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus,
.modal__comment:focus {
  outline: none;
  border-color: #2196f3;
}

.modal__input:focus + .modal__lable-icon {
  fill: #2196f3;
}

.modal__input {
  height: 40px;
  padding: 12px 42px;
}

.modal__element {
  position: relative;
}

.modal__lable-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;
}

.modal__comment {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__check,
.modal__agreement {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .modal__check,
  .modal__agreement {
    font-size: 14px;
    line-height: 1.7;
  }
}

.modal__agreement::after {
  position: absolute;
  bottom: 1px;
  left: 0px;
  display: block;
  content: ' ';
  width: 100%;
  height: 1px;
  background-color: #2196f3;
}

.modal__check {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: 19px;
  margin-bottom: 30px;
  cursor: pointer;
}

.modal__checkbox {
  position: absolute;
  left: -22px;
  width: 16px;
  height: 15px;
  background-image: url(../images/svg/checkbox.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input-check:checked + .modal__checkbox {
  border: none;
  background-image: url(../images/svg/icon_check.svg);
}

.modal__agreement {
  display: inline-block;
  margin-left: 3px;
  color: #2196f3;
}

.modal__batton {
  cursor: pointer;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 206px;
}

.social-links a {
  display: block;
  width: 44px;
  height: 44px;
  box-shadow: none;
  border-radius: 50%;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links a:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-link {
  width: 20px;
  height: 20px;
  margin: 12px;
}

header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  height: 60px;
  margin-right: auto;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  header .logo {
    height: 80px;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo span {
  color: #000000;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767.5px) {
  .nav-menu {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    padding: 60px 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ececec;
    background-color: #ffffff;
  }
  .nav-menu.is-open {
    display: flex;
    top: 100%;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-items {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav-items {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .nav-items li:not(:first-child) {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .nav-items li:not(:first-child) {
    margin-left: 50px;
  }
}

.nav-item {
  position: relative;
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .nav-item {
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav-item:hover,
.nav-item:focus,
.nav-item.current,
.nav-contact:hover,
.menu-button:hover,
.menu-button:focus {
  color: #2196f3;
  fill: #2196f3;
}

.nav-item.current::after {
  position: absolute;
  bottom: -8px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .nav-item.current::after {
    bottom: -33.5px;
  }
}

/* -----------------------------nav contact */
.contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .contacts {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-left: 86px;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: 305px;
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .contacts li:first-child {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .contacts li:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts li:first-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts li {
    margin-right: 30px;
  }
}

.nav-contact {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .nav-contact {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .nav-contact {
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav-contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.back {
  width: 100%;
  background: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img_Header_mobile.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .back {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img_Header_mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .back {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img_Header_tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .back {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img_Header_tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .back {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img_Header_desctop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .back {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img_Header_desctop@2x.jpg);
  }
}

.hero {
  padding: 118px 0px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0px;
  }
}

.hero h1 {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero h1 {
    font-size: 44px;
    line-height: 1.36;
  }
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .advantages ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantages li {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .advantages li {
    width: calc((100% / 2) - 15px);
  }
}

@media screen and (min-width: 1200px) {
  .advantages li {
    width: 270px;
  }
}

.advantages h3 {
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages p {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantages-icon {
  width: 100%;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: #f5f4fa;
}

@media screen and (max-width: 1199px) {
  .working-moments {
    display: none;
  }
}

.working-moments ul {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 94px;
}

.working-moments h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.working-moments-item {
  position: relative;
}

.working-moments-item-description {
  position: absolute;
  bottom: 0px;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team {
  background-color: #f5f4fa;
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .our-team {
    padding: 94px 0;
  }
}

.our-team .img-team {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-team h2 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .our-team h2 {
    font-size: 36px;
    line-height: 1.17;
  }
}

.our-team .cards-team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .our-team .cards-team {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.our-team .card-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .our-team .card-team:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team .card-team {
    width: calc((100% - 30px) / 2);
  }
  .our-team .card-team:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team .card-team {
    width: calc((100% - 90px) / 4);
  }
}

.our-team .overflow {
  width: 100%;
  overflow: hidden;
}

.our-team h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team p {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team .social-links {
  margin-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .our-team .social-links {
    margin-bottom: 30px;
  }
}

.regular-customers {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .regular-customers {
    padding: 94px 0;
  }
}

.regular-customers h2 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 28px;
  line-height: 1.18;
}

@media screen and (min-width: 1200px) {
  .regular-customers h2 {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.regular-customers ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .regular-customers ul {
    flex-wrap: nowrap;
  }
}

.regular-customers li {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px 0;
  height: 90px;
  width: calc((100% - 30px) / 2);
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .regular-customers li {
    width: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .regular-customers li {
    width: calc((100% - (30px * 5)) / 6);
  }
}

@media screen and (max-width: 767px) {
  .regular-customers li:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .regular-customers li:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.regular-customers li:hover {
  color: #2196f3;
  border-color: #2196f3;
}

.regular-customers svg {
  fill: currentColor;
}

.our-works {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .our-works {
    padding: 94px 0;
  }
}

.our-works .sorter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .our-works .sorter {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.our-works .sorter li:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 263.5px) {
  .our-works .sorter li:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 620px) {
  .our-works .sorter li:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

.our-works .sorter button {
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  background-color: #f5f4fa;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-works .sorter button:hover, .our-works .sorter button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .card-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.card-items .img-team {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

.card-items .card {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card-items .card:nth-child(2) {
  padding-right: 0px;
}

.card-items h2 {
  text-align: left;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-items .card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.card-item {
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .card-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-item {
    width: calc((100% - 30px) / 2);
  }
  .card-item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .card-item {
    width: calc((100% - 60px) / 3);
  }
  .card-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .card-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.card-item:hover, .card-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-item:hover .card,
.card-item:focus .card {
  border: none;
}

.card-item:hover .blue-overlay,
.card-item:focus .blue-overlay {
  transform: translateY(-100%);
}

.overlay-container {
  position: relative;
  width: inherit;
  overflow: hidden;
}

.blue-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 24px;
  height: 100%;
  vertical-align: middle;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 300px;
  padding-bottom: 300px;
}

footer {
  padding: 60px 0;
}

footer .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  footer .container {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  footer .footer-contact {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-bottom: 60px;
    margin-right: 74px;
  }
}

@media screen and (min-width: 1200px) {
  footer .footer-contact {
    display: flex;
  }
}

footer .adres {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  footer .adres {
    text-align: left;
    margin-right: 70px;
    display: inline-block;
  }
}

footer .logo {
  margin-bottom: 20px;
}

footer .logo span {
  color: #ffffff;
}

address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  address {
    margin-bottom: 60px;
  }
}

address p {
  margin-bottom: 8px;
}

address ul li:first-child {
  margin-bottom: 8px;
}

address a {
  display: block;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    display: inline-flex;
    margin-top: 12px;
    margin-right: 70px;
    align-items: flex-start;
  }
}

.footer-social h2 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.social-links a {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer_social {
  fill: #ffffff;
}

.subscribe {
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-top: 12px;
    width: 570px;
  }
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscribe__title {
    text-align: left;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    flex-direction: row;
  }
}

.subscribe__input {
  margin-bottom: 20px;
  padding-left: 16px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    margin-right: 12px;
    margin-bottom: 0px;
    width: 358px;
  }
}

.subscribe__input:focus {
  outline: 1px solid #2196f3;
  outline-offset: -4px;
}

.subscribe__button--svg {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */