.advantages {
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantages ul {
    display: flex;
    justify-content: space-between;
}

.advantages li {
    max-width: 270px;
}

.advantages h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.advantages-icon {
    width: 270px;
    height: 120px;
    padding: 25px 100px;
    margin-bottom: 30px;
    border-radius: 4px;
    background: $midl-bg;
}
