header {
    border-bottom: 1px solid #ececec;
    /* height: 80px; */
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-top: 24px;
    margin-right: 93px;
    margin-bottom: 25px;

    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: $elements;
}

nav {
    display: flex;
    align-items: center;
}

nav .logo span {
    color: #000000;
}

.nav-items a::before {
    background-image: url(../images/svg/symbol-defs.svg#smartphone);
}

.nav-items {
    display: flex;
}

.nav-item:link {
    color: $title;
}

.nav-item {
    display: block;
    /* margin-right: 50px; */
    color: $title;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover,
.nav-item:focus,
.nav-item.current,
.nav-contact:hover {
    color: $elements;
    /* transition-property: scale; */
}

/* .nav-item:hover,
.nav-contact:hover {
  transform: scale(1.1);
} */

.nav-items li {
    position: relative;
    margin-right: 50px;
    height: 80px;
    display: flex;
    align-items: center;
}

.nav-item.current::after {
    position: absolute;
    bottom: -1px;
    /* width: calc(100% - 50px); */
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
    border-radius: 2px;
    /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* ------------------------------nav contact */

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts li {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.nav-contact {
    display: flex;
    align-items: center;
    color: $text;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}

.tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}
