header {
    border-bottom: 1px solid #ececec;
    position: relative;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    display: flex;
    align-items: center;

    margin-right: auto;
    height: 60px;

    @media screen and (min-width:768px) {
        height: 80px;
    }

    font-family: 'Raleway',
    sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $elements;

    @media screen and (min-width:1200px) {
        font-size: 26px;
        line-height: 1.2;
    }


    & span {
        color: #000000;
    }
}

.menu-button {
    display: inline-flex;

    @media screen and (min-width:768px) {
        display: none;

    }

    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .icon-cross {
        display: none;
    }

    &.is-open .icon-cross {
        display: block;
    }

    &.is-open .icon-menu {
        display: none;
    }
}

.nav-menu {
    @media screen and (max-width: 767px) {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
        width: 100%;

        padding: 60px 0;

        display: none;

        &.is-open {
            display: flex;
            top: 100%;

        }

        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        border-top: 1px solid #ececec;

        background-color: $lite-bg;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // transition: 5250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-items {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }

    & li {
        @media screen and (max-width: 767px) {
            &:not(:first-child) {
                margin-top: 40px;
            }
        }


        @media screen and (min-width: 768px) {
            &:not(:first-child) {
                margin-left: 50px;
            }
        }
    }
}

.nav-item {
    position: relative;

    display: block;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $title;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:768px) {
        font-size: 14px;
        line-height: 1.14;
    }
}

.nav-item:hover,
.nav-item:focus,
.nav-item.current,
.nav-contact:hover,
.menu-button:hover,
.menu-button:focus {
    color: $elements;
    fill: $elements;
}

.nav-item.current::after {
    position: absolute;
    bottom: -8px;

    @media screen and (min-width:768px) {
        bottom: -33.5px;
    }

    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
    border-radius: 2px;
}

/* -----------------------------nav contact */

.contacts {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width: 767px) {
        margin-top: 60px;
    }

    @media screen and (min-width: 768px) {
        margin-left: 86px;
        align-items: flex-start;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 305px;
        flex-direction: row;
    }

    & li {
        @media screen and (max-width: 767px) {
            &:first-child {
                margin-bottom: 16px;
            }
        }

        @media screen and (min-width: 768px) {
            &:first-child {
                margin-bottom: 10px;
            }
        }

        @media screen and (min-width: 1200px) {
            &:first-child {
                margin-bottom: 0px;
            }
        }

        @media screen and (min-width: 1200px) {
            margin-right: 30px;

        }
    }
}


.nav-contact {
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $text;


    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);


    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 1.17;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
    }

    &-icon {
        margin-right: 10px;
        fill: currentColor;
    }
}