$lite-bg: #ffffff;
$midl-bg: #f5f4fa;
$dark-bg: #2f303a;
$title: #212121;
$text: #757575;
$elements: #2196f3;
$elements-overlay: rgba(33, 150, 243, 0.9);
$border-color: #eeeeee;
$border-closed: rgba(0, 0, 0, 0.1);
$footer-black: rgba(255, 255, 255, 0.1);
$border-form: rgba(255, 255, 255, 0.3);
$foter-gray: rgba(255, 255, 255, 0.6);
$svg-icon: #afb1b8;

$back-hero: #c4c4c4;
$lable-background: rgba(47, 48, 58, 0.8);
$modal-bbackground: rgba(0, 0, 0, 0.2);
$modal-placeholder: rgba(117, 117, 117, 0.5);
